[package]
name = "serie"
version = "0.4.6"
description = "A rich git commit graph in your terminal, like magic"
authors = ["Kyosuke Fujimoto <kyoro.f@gmail.com>"]
homepage = "https://github.com/lusingander/serie"
repository = "https://github.com/lusingander/serie"
readme = "README.md"
license = "MIT"
keywords = ["git", "cli", "tui", "terminal"]
categories = ["command-line-utilities"]
edition = "2021"
rust-version = "1.87.0"

exclude = ["/.github", "/img"]

[dependencies]
arboard = "3.5.0"
base64 = "0.22.1"
chrono = "0.4.40"
clap = { version = "4.5.37", features = ["derive"] }
console = "0.15.11"
fuzzy-matcher = "0.3.7"
fxhash = "0.2.1"
image = { version = "0.25.6", default-features = false, features = [
    "rayon",
    "png",
] }
laurier = "0.1.0"
once_cell = "1.21.3"
ratatui = "0.29.0"
rayon = "1.10.0"
semver = "1.0.26"
serde = { version = "1.0.219", features = ["derive"] }
smart-default = "0.7.1"
toml = "0.8.21"
tui-input = "0.11.1"
tui-tree-widget = "0.23.0"
umbra = "0.4.0"

[dev-dependencies]
dircpy = "0.3.19"
rstest = "0.25.0"
tempfile = "3.19.1"
text-to-png = "0.2.0"

[profile.release]
codegen-units = 1
lto = true
