[package]
name = "serie"
version = "0.4.0"
description = "A rich git commit graph in your terminal, like magic"
authors = ["Kyosuke Fujimoto <kyoro.f@gmail.com>"]
homepage = "https://github.com/lusingander/serie"
repository = "https://github.com/lusingander/serie"
readme = "README.md"
license = "MIT"
keywords = ["git", "cli", "tui", "terminal"]
categories = ["command-line-utilities"]
edition = "2021"
rust-version = "1.79.0"

exclude = ["/.github", "/img"]

[dependencies]
arboard = "3.4.0"
base64 = "0.22.1"
chrono = "0.4.38"
clap = { version = "4.5.17", features = ["derive"] }
color-eyre = "0.6.3"
console = "0.15.8"
directories = "5.0.1"
fxhash = "0.2.1"
image = "0.25.2"
ratatui = "0.28.1"
rayon = "1.10.0"
semver = "1.0.23"
serde = { version = "1.0.210", features = ["derive"] }
serde_json = "1.0.128"
toml = "0.8.19"
tui-input = "0.10.1"
tui-tree-widget = "0.22.0"

[dev-dependencies]
dircpy = "0.3.19"
rstest = "0.22.0"
tempfile = "3.12.0"
text-to-png = "0.2.0"
